<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>Snack Overdose. Get your dosage of snack on.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li>Created by:</li>
          <li><a href="#">Danger</a></li>
          <li><a href="#">Scott</a></li>
          <li><a href="#">Dionne</a></li>
          <li><a href="#">David</a></li>
          <li><a href="#">Mai</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
