<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>Snack Overflow. Get your dosage of snack on.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li>Created by:</li>
          <li><a href="https://github.com/HeyCampbell">Danger</a></li>
          <li><a href="https://github.com/sjenriquez">Scott</a></li>
          <li><a href="https://github.com/SputterPuttRedux">Dionne</a></li>
          <li><a href="https://github.com/dlrifkin">David</a></li>
          <li><a href="https://github.com/mxngyn">Mai</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
