<div class='nom-headline'>
    <%= image_tag(nom.pic_url, size: "100x100", alt: nom.title, class: 'nom-pic') %>
  <h3><%= link_to "#{nom.title}", nom_path(nom) %></h3>
  <h5><%= nom.review[0..20] %>...</h5>
  <p>created by: <%= nom.user.username%></p>
  </div>
