<div class='comment-show'>
<p class='comment-score'><%= link_to "Tasty!", comment_up_path(comment.id) %> |
<%= link_to "Nasty!", comment_down_path(comment.id) %>
 |  Brownie Points :<%= comment.score %>
  <p class='comment-body'><%= comment.body %></p>
</div>
